@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$main-color: #4071f4;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    border-radius: 6px;
    background-color: #f4f4f4;
}
::-webkit-scrollbar-thumb{
    border-radius: 6px;
    cursor: pointer;
    background-color: #4071f4;
    &:hover{
        background-color: #3059c4;
    }
}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

img{
    width: 100%;
}

button{
    outline: none;
    cursor: pointer;
    border: none;
}

a{
    text-decoration: inherit;
    color: inherit;
}

.loading{
    width: 100%;
    display: grid;
    place-items: center;
    padding: 50px 0;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #00000049;
    .loader {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite;
      }
      .loader::before , .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #2a2d2b;
        animation: prixClipFix 2s linear infinite ;
      }
      .loader::after{
        border-color: #2a2d2b;
        animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
        inset: 12px;
      }

      @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }

      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
          75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
          100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
      }
}

.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    padding: 30px 0;
    .usercard{
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        border-radius: 18px;
        overflow: hidden;
        cursor: pointer;
        &:hover{
            box-shadow: 0 4px 8px rgba(0,0,0,0.5);
        }
        &__imagebox{
            height: 100px;
            position: relative;
            background-color: $main-color;
        }
        &__image{
            width: 110px;
            height: 110px;
            overflow: hidden;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translateX(-50%);
            background-color: #fff;
        }
        &__info{
            width: 100%;
            padding: 60px 20px 20px;
            text-align: center;

            h3{
                font-size: 24px;
                line-height: 30px;
                font-weight: 600;
                color: #2a2d2b;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                white-space: nowrap;
                overflow: hidden;
            }
            button{
                width: 100%;
                padding: 8px 0;
                margin: 15px 0 0 0;
                color: #fff;
                background-color: #4071f4;
                border-radius: 4px;
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .wrapper{
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}
@media (max-width: 800px) {
    .wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .wrapper{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}